* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  width: 375px;
  overflow-x: hidden;
}

#top {
  position: fixed;
  top: 0;
  width: 375px;
  height: 80px;
  background: white;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  align-self: flex-start;
}

main {
  margin-top: 72px;
  width: 375px;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 375px;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
}

#headline {
  background: url(./pics/header-illsutration-mobile.png);
  background-repeat: no-repeat;
}

h1 {
  height: 192px;
  width: 327px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #172b4d;
  margin: 0 auto;
}

#title-span {
  color: #36b37e;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-top: 58px;
  width: 327px;
  height: 164px;
}

.socials {
  display: flex;
  align-items: center;
  margin-top: 58px;
  width: 170px;
  height: 20px;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#works h1 {
  height: 97px;
}

.work-row {
  max-width: 331px;
  padding: 4px 2px;
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat (6, 1fr);
  gap: 24px;
  justify-content: center;
}

#recent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#indicator {
  height: 4px;
  width: 48px;
  background: #36b37e;
  border-radius: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.item {
  width: 327px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.placeholder {
  width: 327px;
}

.text-card {
  padding: 16px;
  height: 222px;
  width: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  margin-top: -222px;
}

.subtitle {
  height: 57px;
  width: 295px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

h3 {
  font-size: 24px;
  font-weight: 600px;
  line-height: 32px;
}

.courses {
  width: 305px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.courses li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background: #36b37f;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}

button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px;
  opacity: 0.8;
}

#about-me {
  padding-top: 0;
}

#about-me h1 {
  height: 48px;
}

#about-article {
  max-width: 331px;
  padding: 4px 2px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
  background: url(./pics/illustration-\ about\ me-\ mobile.png);
  background-position: center;
  background-repeat: no-repeat;
}

#about-text {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  width: 327px;
  height: 189px;
}

.about-row {
  max-width: 331px;
  padding: 4px 2px;
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat (3, 1fr);
  gap: 24px;
  justify-content: center;
}

.about-item {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  background: #ebf0ee;
}

.about-item h3 {
  height: 32px;
  width: 295px;
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #344563;
}

.courses-about {
  width: 271px;
  height: 40px;
  margin-top: 24px;
  margin-bottom: 72px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.courses-about li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 12px;
  height: 40px;
  line-height: 16px;
  font-weight: 600;
  color: #36b37e;
  letter-spacing: 0.03em;
  background: #fff;
  border-radius: 8px;
}
